@model Model_Binding.Models.Employee;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form class="d-grid" asp-action="Index" asp-controller="Home" method="post">
                <label asp-for="Name">Enter name:</label>
                <input asp-for="Name" class="form-control" placeholder="Enter name" >
                <br/>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select Gender</option>
                </select>
                <br />
                <input asp-for="Age" class="form-control" placeholder="Enter Age" />
                <br />
                <input asp-for="Designation" type="text" class="form-control" placeholder="Enter Designation" />
                <br />
                <input asp-for="Salary" class="form-control" placeholder="Enter salary" />
                <br />
                <textarea asp-for="Description" class="form-control" placeholder="Enter description" >
                    </textarea>
                <br />
                <label>
                    Married:
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Married" value="Yes" />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" type="radio" asp-for="Married" value="No" />
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
                <br />
                <input type="submit" value="Submit" class="btn btn-outline-primary btn-block"/>
            </form>
        </div>
    </div>
</div>
